header {
  display: flex;
  padding: 3rem 0;
  gap: 20px;
  /* min-height: 80vh; */
  background-color: rgba(38, 38, 214, 0.034);
  /* flex-wrap: wrap; important */
  position: relative;
}

.header-container {
  flex: 1;
  min-width: 300px;
}

.header-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header-profile h2 {
  color: var(--text-primary);
  font-size: 3.2rem;
}

.header-profile h3 {
  color: var(--accent);
  font-size: 3.2rem;
}

.header-profile b,
p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--text-secondary);
  max-width: 500px;
}

/*Header btn */
.profile-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.cv-btn {
  background-color: var(--accent);
  color: white;
  transition: all 0.3s ease;
}

.cv-btn:hover {
  border: 1px solid var(--accent-hover);
  box-shadow: 0 8px 20px var(--shadow);
  color: white;
}

.header-image {
  flex: 1;
  min-width: 300px;
  padding-top: 30px;
}

.header-image img {
  height: 55vh;
  max-width: 465px;
  object-fit: cover;
  filter: drop-shadow(0px 0px 5px black);
}

/* RESPONSIVE MEDIA QUERY*/
@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  .header-container {
    width: 100%;
    flex: none;
  }

  .header-image {
    width: 100%;
  }

  .header-profile h3 {
    font-size: 1.8rem;
  }
}

@media (max-width: 960px) {
  .header-image img {
    height: 44vh;
  }
}
