/* NAVBAR */
.navbar {
  width: 100%;
  background-color: rgba(var(--bg-primary-rgb), 0.9);
  box-shadow: 0 2px 4px var(--shadow);
  color: var(--text-primary);
  backdrop-filter: blur(10px);
  display: flex;
  padding: 12px 20px;
  z-index: 1000;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-scrolled {
  backdrop-filter: blur(10px);
}

.navbar-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.nav-logo {
  display: flex;
  gap: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-logo h2 {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--accent);
  font-family: "Playfair Display", serif;
}

.logo-text {
  white-space: nowrap;
}

/* MENU BUTTON */
.logo-menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

/* DESKTOP MENU */
.nav-menu-desktop {
  display: flex;
  list-style: none;
  width: 70%;
  justify-content: center;
}

/*Nav links */
.nav-items {
  list-style: none;
}

.nav-link {
  font-size: 1.3rem;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
  white-space: nowrap;
  padding: 0.5rem 1.5rem;
}

.nav-link:hover {
  color: var(--accent);
}

/* BUTTONS */
.toggle-buttons {
  display: flex;
}

.nav-toggle-btn {
  border: 1px solid var(--border);
  font-size: 1.3rem;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #3f3d3d;
  color: var(--text-primary);
  transition: background-color 0.3s ease;
  margin-left: 6px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-toggle-btn:hover {
  background-color: var(--accent);
  color: #fff;
}

/* LANGUAGE TOGGLE */
.toggle-lng {
  width: auto;
  /* prevents text from breaking */
  white-space: nowrap;
  min-width: 60px;
  writing-mode: horizontal-tb;
}

/* MOBILE MENU */
.mobile-menu-overlay {
  position: fixed;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 999;
}

.mobile-menu-overlay.active {
  opacity: 1;
  visibility: visible;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 35%;
  height: 100%;
  background-color: #2b2929;
  box-shadow: 2px 0 5px var(--shadow);
  transition: 0.3s;
  padding: 15px;
  border: 1 px solid;
}

/* MOBILE HEADER */
.mobile-menu-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.mobile-close-btn {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: var(--bg-color);
}

/* MOBILE NAV */
.mobile-nav-menu {
  width: 80%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mobile-nav-menu {
  margin-bottom: 10px;
}

.mobile-nav-link {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--mobile-text);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .logo-menu {
    display: block;
  }

  .nav-menu-desktop {
    display: none;
  }
}
