* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


:root {
  --text: #222;
  --bg: #ffffff;
  --primary: #4caf50;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* DARK MODE */
.dark {
  --text: #fff;
  --bg: #0c0c0c;
}
